<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="search-module" parallel="classes" thread-count="2">
    <!--    <parameter name="browserType" value="CHROME"/>-->
    <test name="book-test-java">
        <!--        <parameter name="keyword" value="java"/>-->
        <classes>
            <class name="ru.qa.addressbook.BookLogInTest"/>
            <class name="ru.qa.addressbook.BookCreateGroupTest"/>
        </classes>
    </test>
</suite>